{% extends "layout.twig" %}

{% block content %}

    {{widget('feature', 'featurehome', {
        "header": "profile",
        "defaultBgImg": asset('images/feature-bg.jpg'),
        "positionTopPercentage": '0',
        "showBtn": true,
        "buttonText": "Lorem Ipsum"
    })|raw}}


<!-- End Template Widgets -->

<div class="canvas" id="canvas">
    <!-- Main Widet Zone -->
    {{zone('main')|raw}}
</div>

{% endblock %}
