<div class="template-footer">
    <div class="template-footer__container">
                {{widget('socialicons', 'socialnetworks', {
        'googleplus': 'https://plus.google.com/101946323226233111530',
        'linkedin':'http://www.linkedin.com/company/mycompanyname',
        'facebook': 'https://www.facebook.com/mycompanyname',
        'twitter': 'https://twitter.com/mycompanyname',
        'youtube': 'https://www.youtube.com/user/mycompanyname',
        'rss': 'http://news.bbc.co.uk/1/hi/help/rss/default.stm'
        })|raw}}
        {{widget('content', 'content-footer', {content: 'Lorem Ipsum Dolor Sit Amet.', lines: 'all'})|raw}}
    </div>
</div>
