<div class="template-footer">
    <div class="template-footer__container">
                {{widget('socialicons', 'socialnetworks', {
        'googleplus': 'profile',
        'linkedin':'profile',
        'facebook': 'profile',
        'twitter': 'hprofile',
        'youtube': 'profile',
        'rss': 'profile'
        })|raw}}
        {{widget('content', 'content-footer', {content: 'Lorem Ipsum Dolor Sit Amet.', lines: 'all'})|raw}}
    </div>
</div>
